* {
  font-family: verdana;
}

.pokemonkaart {
  float: left;
  width: 250px;
  padding: 20px 15px;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
}

.achtergrond-geel {
  background-color: rgba(255, 255, 204, 0.5); 
}
  
.achtergrond-groen {
  background-color: rgba(210, 248, 210, 0.5);
}
  
h1 {
  font-size: 24px;
  margin: 0 0 15px 0;
}

h4 {
  font-size: 14px;
  color:gray;
  margin: 0 0 15px 0;
  font-weight: bold;
}

img {
  width: 215px;
}

.type1 {
  background-color:yellow;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0;
}
  
p {
  text-align: center;
}
