* {
  font-family: verdana;
}

.pokemonkaart {


.achtergrond-geel {
}
  
.achtergrond-groen {
}
  
h1 {
  font-family: verdana;
}

h4 {
  font-family: verdana;
}

img {
  font-family: verdana;
}

.type1 {
}
  
p {
  text-align: center;
}
